section#result {
    padding: 50px 0 150px 0;
}
section#result p {
    line-height: 2;
}

section#result p span:not(.green):not(.orange) {
    padding: 0 20px;
    font-weight: 400;
}

section#result p span.green {
    color: #1B5E20;
}

section#result p span.orange {
    color: #BF360C;
}

section#result div#resultGraph {
    width: 60%;
    height: 400px;
}
